<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "/css/sub/Customer_service.css">
</head>
<body>
    <div class="header_wrap wrap">
        <div class= "header">
            <h2>Hello. What can we help you with?</h2>
        </div>
    </div>
    <div class="content_wrap wrap">
        <div class= "content">
            <h5>Some things you can do here</h5>
            <ul>
                <li>
                    <div class = "img">
                        <img src= "/sub/cs1.png">
                    </div>
                    <div class = "text">
                        <h4>Your Orders</h4>
                        <div>Track packages<br/>Edit or cancel orders</div>
                    </div>
                </li>
                <li>
                    <div class = "img">
                        <img src= "/sub/cs1.png">
                    </div>
                    <div class = "text">
                        <h4>Your Orders</h4>
                        <div>Track packages<br/>Edit or cancel orders</div>
                    </div>
                </li>
                <li>
                    <div class = "img">
                        <img src= "/sub/cs1.png">
                    </div>
                    <div class = "text">
                        <h4>Your Orders</h4>
                        <div>Track packages<br/>Edit or cancel orders</div>
                    </div>
                </li>
                <li>
                    <div class = "img">
                        <img src="/sub/cs1.png">
                    </div>
                    <div class = "text">
                        <h4>Your Orders</h4>
                        <div>Track packages<br/>Edit or cancel orders</div>
                    </div>
                </li>
                <li>
                    <div class = "img">
                        <img src="/sub/cs1.png">
                    </div>
                    <div class = "text">
                        <h4>Your Orders</h4>
                        <div>Track packages<br/>Edit or cancel orders</div>
                    </div>
                </li>
                <li>
                    <div class = "img">
                        <img src="/sub/cs1.png">
                    </div>
                    <div class = "text">
                        <h4>Your Orders</h4>
                        <div>Track packages<br/>Edit or cancel orders</div>
                    </div>
                </li>
                <li>
                    <div class = "img">
                        <img src="/sub/cs1.png">
                    </div>
                    <div class = "text">
                        <h4>Your Orders</h4>
                        <div>Track packages<br/>Edit or cancel orders</div>
                    </div>
                </li>
                <li>
                    <div class = "img">
                        <img src="/sub/cs1.png">
                    </div>
                    <div class = "text">
                        <h4>Your Orders</h4>
                        <div>Track packages<br/>Edit or cancel orders</div>
                    </div>
                </li>
                <li>
                    <div class = "img">
                        <img src="/sub/cs1.png">
                    </div>
                    <div class = "text">
                        <h4>Your Orders</h4>
                        <div>Track packages<br/>Edit or cancel orders</div>
                    </div>
                </li>
            </ul>
        </div> 
    </div>
    <div class = "search_wrap wrap">
        <div class = "search">
            <h5>Search the help library   Type something like, "question about a charge"</h5>
            <img src= "/sub/search.png">
            <input type = "text" class = "search">
        </div>
    </div>
    <div class = "browse_wrap wrap">
        <div class = "browse">
            <h2>Browse Help Topics</h2>
            <div class = "browse_content">
                <ul class = "browse_category">
                    <li>Recommended Topics</li>
                    <li>Where's My Stuff?</li>
                    <li>Managing Your Orders</li>
                    <li>Account Settings & Payment</li>
                    <li>Returns & Refunds</li>
                    <li>Shipping Policies</li>
                    <li>Amazon Devices</li>
                    <li>Digital Services & Content</li>
                    <li>Amazon Business Accounts</li>
                    <li>Other Topics & Help Sites</li>
                </ul>
                <ul class = "browse_content1">
                    <h3>Where's My stuff?</h3><br/>
                    <li><a href="">Digital Services & Content</a></li><br/>
                    <li><a href="">Amazon Business Accounts</a></li><br/>
                    <li><a href="">Other Topics & Help Sites</a></li><br/>
                    <li class = "bottom"><a href="">More in Where's My Stuff</a></li><br/>
                    <img src = "/sub/GUID-14B0880C-FE88-49DC-8E4A-800AC4CF5E90_en-US.png">
                </ul>
            </div>
        </div>
    </div>
    <script type = "text/javascript">


    </script>
</body>
</html>