<div id="footer">
    <div id="footer_top">
      <a href="#">
         <span>Back to top</span>
        </a>
      <div id="footer_top_top">
        <ul>
          <li><span> Get to Know Us </span></li>
          <li><a href="#"> Careers</a></li>
          <li><a href="#"> Blog</a></li>
          <li><a href="#"> About Amazon</a></li>
          <li><a href="#"> Investor Telations</a></li>
          <li><a href="#"> Amazon Dabices</a></li>
          <li><a href="#"> Amazon Tours</a></li>
        </ul>
        <ul>
          <li><span> Get to Know Us </span></li>
          <li><a href="#"> Careers</a></li>
          <li><a href="#"> Blog</a></li>
          <li><a href="#"> About Amazon</a></li>
          <li><a href="#"> Investor Telations</a></li>
          <li><a href="#"> Amazon Dabices</a></li>
          <li><a href="#"> Amazon Tours</a></li>
        </ul>
        <ul>
          <li><span> Get to Know Us </span></li>
          <li><a href="#"> Careers</a></li>
          <li><a href="#"> Blog</a></li>
          <li><a href="#"> About Amazon</a></li>
          <li><a href="#"> Investor Telations</a></li>
          <li><a href="#"> Amazon Dabices</a></li>
          <li><a href="#"> Amazon Tours</a></li>
        </ul>
        <ul>
          <li><span> Get to Know Us </span></li>
          <li><a href="#"> Careers</a></li>
          <li><a href="#"> Blog</a></li>
          <li><a href="#"> About Amazon</a></li>
          <li><a href="#"> Investor Telations</a></li>
          <li><a href="#"> Amazon Dabices</a></li>
          <li><a href="#"> Amazon Tours</a></li>
        </ul>
      </div>
      <div id="footer_top_bottum">
        <img src="">
        <a href="#">English</a>
        <a href="#">$ USD-U.S.Dollar</a>
        <a href="#">Unites States</a>
      </div>
    </div>
    <div id="footer_bottum">
      <div>
        <ul>
          <li>
            <a href="#">Amazon Music</a>
            <a href="#">Amazon Drive</a>
            <a href="#">Home Service</a>
          </li>
          <li>
            <a href="#">Amazon</a>
            <a href="#">Home Service</a>
            <a href="#">Amazon Drive</a>
          </li>
          <li>
            <a href="#">Amazon Music</a>
            <a href="#">Amazon Drive</a>
            <a href="#">Home Service</a>
          </li>
          <li>
            <a href="#">Amazon</a>
            <a href="#">Amazon Drive</a>
            <a href="#">Home Service</a>
          </li>
          <li>
            <a href="#">Amazon Music</a>
            <a href="#">Amazon Drive</a>
            <a href="#">Home Service</a>
          </li>
          <li>
            <a href="#">Amazon</a>
            <a href="#">Home Service</a>
            <a href="#">Amazon Drive</a>
          </li>
          <li>
            <a href="#">Amazon Music</a>
            <a href="#">Amazon Drive</a>
            <a href="#">Home Service</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#">Amazon</a>
            <a href="#">Amazon Global</a>
            <a href="#">Amazon Warehouse</a>
          </li>
          <li>
            <a href="#">Amazon Music</a>
            <a href="#">Amazon Warehouse</a>
            <a href="#">Amazon Global</a>
          </li>
          <li>
            <a href="#">Amazon</a>
            <a href="#">Amazon Global</a>
            <a href="#">Amazon Warehouse</a>
          </li>
          <li>
            <a href="#">Amazon Music</a>
            <a href="#">Amazon Warehouse</a>
            <a href="#">Amazon Global</a>
          </li>
          <li>
            <a href="#">Amazon</a>
            <a href="#">Amazon Global</a>
            <a href="#">Amazon Warehouse</a>
          </li>
          <li>
            <a href="#">Amazon Music</a>
            <a href="#">Amazon Warehouse</a>
            <a href="#">Amazon Global</a>
          </li>
          <li>
            <a href="#">Amazon Music</a>
            <a href="#">Amazon Global</a>
            <a href="#">Amazon Warehouse</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#">Amazon Music</a>
            <a href="#">Amazon Warehouse</a>
            <a href="#">Amazon Global</a>
          </li>
          <li>
            <a href="#">Amazon</a>
            <a href="#">Amazon Global</a>
            <a href="#">Amazon Warehouse</a>
          </li>
          <li>
            <a href="#">Amazon Phone</a>
            <a href="#">Sell on Amazon</a>
            <a href="#">Amazon Music</a>
          </li>
          <li>
            <a href="#">Sell on Amazon</a>
            <a href="#">Amazon Phone</a>
            <a href="#">Amazon Music</a>
          </li>
          <li>
            <a href="#">Amazon Phone</a>
            <a href="#">Sell on Amazon</a>
            <a href="#">Amazon Music</a>
          </li>
          <li>
            <a href="#">Amazon Music</a>
            <a href="#">Amazon Phone</a>
            <a href="#">Sell on Amazon</a>
          </li>
          <li>
            <a href="#">Amazon Music</a>
            <a href="#">Sell on Amazon</a>
            <a href="#">Amazon Phone</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#">Amazon Phone</a>
            <a href="#">Sell on Amazon</a>
            <a href="#">Amazon Music</a>
          </li>
          <li>
            <a href="#">Sell on Amazon</a>
            <a href="#">Amazon Phone</a>
            <a href="#">Amazon Music</a>
          </li>
          <li>
            <a href="#">Amazon Phone</a>
            <a href="#">Sell on Amazon</a>
            <a href="#">Amazon Music</a>
          </li>
          <li>
            <a href="#">Sell on Amazon</a>
            <a href="#">Amazon Phone</a>
            <a href="#">Amazon Music</a>
          </li>
          <li>
            <a href="#">Sell on Amazonc</a>
            <a href="#">Amazon Music</a>
            <a href="#">Amazon Music</a>
            </li>
          <li>
            <a href="#">Amazon</a>
            <a href="#">Amazon Music</a>
            <a href="#">Amazon Music</a>
          </li>
          <li>
            <a href="#">Amazon</a>
            <a href="#">Amazon Music</a>
            <a href="#">Amazon Music</a>
          </li>
        </ul>

      </div>
      <div>
        <a href="#">Conditions of Use</a>
        <a href="#">Privacy Notice</a>
        <a href="#">Interest-Based Ads</a>
        <span>ⓒ 1996-2021,Amazon.com,Inc, or its affiliates</span>
      </div>
    </div>
  </div>
  <div id="hidden_bar" class="none">
    <ul>
      <li>
        <h2 id="name"> Hello,jin </h2>
        <button class="close">X</button>
      </li>
    </ul>
    <ul class="hiddem_ul">
      <li><a href="/">
          <h3> Trnding</h3>
        </a></li>
      <li>
        <a href="/"><span> Best Sellers</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> New Teleases</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> Movers & Shakers</span>
          <span>></span></a>
      </li>
    </ul>
    <ul class="hiddem_ul">
      <li><a href="/">
          <h3> Digital Content & Debices</h3>
        </a></li>
      <li>
        <a href="/"><span> Prine Video</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> Amazon Music</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> Echo &Aexa</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> Fire Tablets</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> fire TV</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> Kindle E-readers &Books</span>
          <span>></span></a>
      </li>
    </ul>
    <ul class="hiddem_ul">
      <li><a href="/">
          <h3> Shop By Department</h3>
        </a></li>
      <li>
        <a href="/"><span> Clothing, ShoesmJewelry & Watches</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> Books</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> Movies,Music & Games</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> Electronics</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> see All ∨</span></a>
      </li>
    </ul>
    <ul class="hiddem_ul">
      <li><a href="/">
          <h3> Programs & Features</h3>
        </a></li>
      <li>
        <a href="/"><span> Whole Foods Market</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> Amazon Phamacy</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> Amazon Physical Stores</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> Subscribe & Save</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> See All ∨</span></a>
      </li>
    </ul>
    <ul class="hiddem_ul">
      <li><a href="/">
          <h3>Help&Sttings</h3>
        </a></li>
      <li>
        <a href="/"><span> Your Account</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> English</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> United States</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> Customer Service</span>
          <span>></span></a>
      </li>
      <li>
        <a href="/"><span> Sign Out</span></a>
      </li>
    </ul>
  </div>