<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/css/sub/Gift_Cards.css">
    <title>Document</title>
</head>
<body>  
    <ul class = "menu">
        <li>Gift Cards</li>
        <li>Best Sellers</li>
        <li>By occasion</li>
        <li>Redeem Gift Cards</li>
        <li>View Your Balance</li>
        <li>Reload Your Balance</li>
        <li>By Brand</li>
        <li>Amazon Cash</li>
        <li>For Businesses</li>
        <li>Be Informed</li>
        <li>Find a Gift</li>
        <li>Registry & Gifting</li>
    </ul>
    <div class = "div"></div>
    <div class = "category">
        <div class = "Gift_Category">
            <ul class = "border">
                <h3>Events & Celebrations</h3>
                <li>Birthdays</li>
                <li>Thank you</li>
                <li>Congratulations</li>
                <li>Holidays</li>
            </ul>
            <ul class = "border">
                <h3>Amazon Gift Cards:<br/>Special Features</h3>
                <li>Reload Your Balance</li>
                <li>Amazon Cash</li>
                <li>Amazon PayCode</li>
                <li>Anytime Gift Cards</li>
                <li>The Gift of Prime</li>
                <li>Amazon.com.mx Gift<br/> Cards</li>
            </ul>
            <ul class = "border">
                <h3>Other Gift Card Brands</h3>
                <li>Restaurants</li>
                <li>Movie Theaters</li>
                <li>Starbucks</li>
                <li>Nordstrom</li>
            </ul>
            <ul>
                <h3>Delivery Type</h3>
                <li><input type = "checkbox">eGift Card</li>
                <li><input type = "checkbox">Mail</li>
                <li><input type = "checkbox">Print at Home</li>
            </ul>
            <ul>
                <h3>Format</h3>
                <li><input type = "checkbox">Add Your Photo</li>
                <li><input type = "checkbox">Add Your Upload</li>
                <li><input type = "checkbox">Animation</li>
                <li><input type = "checkbox">Anytime Gift Card</li>
                <li><input type = "checkbox">Bookmark</li>
                <li><input type = "checkbox">Gift Bag</li>
                <li><input type = "checkbox">Gift Box</li>
                <li><input type = "checkbox">Gift Tag</li>
                <li><input type = "checkbox">Greeting Card</li>
                <li><input type = "checkbox">Mini Envelope</li>
                <li><input type = "checkbox">Multi-Pack</li>
                <li><input type = "checkbox">Print & Fold</li>
                <li><input type = "checkbox">Reveal</li>
                <li><input type = "checkbox">Slider</li>
                <li><input type = "checkbox">Add Your Photo</li>
                <li><input type = "checkbox">Add Your Upload</li>
                <li><input type = "checkbox">Animation</li>
                <li><input type = "checkbox">Anytime Gift Card</li>
                <li><input type = "checkbox">Bookmark</li>
                <li><input type = "checkbox">Gift Bag</li>
                <li><input type = "checkbox">Gift Box</li>
                <li><input type = "checkbox">Gift Tag</li>
                <li><input type = "checkbox">Greeting Card</li>
                <li><input type = "checkbox">Mini Envelope</li>
                <li><input type = "checkbox">Multi-Pack</li>
                <li><input type = "checkbox">Print & Fold</li>
                <li><input type = "checkbox">Reveal</li>
                <li><input type = "checkbox">Slider</li>
            </ul>
            <ul>
                <h3>Featured Brands</h3>
                <li><input type = "checkbox">Amazon</li>
                <li><input type = "checkbox">Google</li>
                <li><input type = "checkbox">Uber</li>
                <li><input type = "checkbox">Starbucks</li>
                <li><input type = "checkbox">Netflix</li>
            </ul>
            <ul>
                <h3>Category</h3>
                <li><input type = "checkbox">Amazon Gift Cards</li>
                <li><input type = "checkbox">Clothing, Shoes &<br/>Accessories</li>
                <li><input type = "checkbox">Home & Garden</li>
                <li><input type = "checkbox">Hotels & Travel</li>
                <li><input type = "checkbox">Restaurants</li>
            </ul>
            <ul>
                <h3>Seller</h3>
                <li><input type = "checkbox">Amazon.com</li>
                <li><input type = "checkbox">Tinggly</li>
                <li><input type = "checkbox">Amazon Export Sales LLC.</li>
                <li><input type = "checkbox">abbeys bbq</li>
                <li><input type = "checkbox">Lifecard Plans</li>
                <li><input type = "checkbox">Pez74ihre</li>
                <li><input type = "checkbox">Sonora Restaurant Port<br/> Chester</li>
                <li><input type = "checkbox">Le Cachet Cosmetics</li>
                <li><input type = "checkbox">MASSAGE L.A.</li>
                <li><input type = "checkbox">Amazon.com</li>
                <li><input type = "checkbox">Tinggly</li>
                <li><input type = "checkbox">Amazon Export Sales LLC.</li>
                <li><input type = "checkbox">abbeys bbq</li>
                <li><input type = "checkbox">Lifecard Plans</li>
                <li><input type = "checkbox">Pez74ihre</li>
                <li><input type = "checkbox">Sonora Restaurant Port<br/> Chester</li>
                <li><input type = "checkbox">Le Cachet Cosmetics</li>
                <li><input type = "checkbox">MASSAGE L.A.</li>
            </ul>
            <ul class = "Avg. Customer Review">
                <h5>Avg. Customer Review</h5>
                <li><img src="/sub/product.png"><a href = ""> & Up</a></li>
                <li><img src="/sub/product.png"><a href = ""> & Up</a></li>
                <li><img src="/sub/product.png"><a href = ""> & Up</a></li>
                <li><img src="/sub/product.png"><a href = ""> & Up</a></li>
            </ul>
            <ul class = "Price">
                <h5>Price</h5>
                <li><a href = "">Under $25</a></li>
                <li><a href = "">$25 to $50</a></li>
                <li><a href = "">$50 to $100</a></li>
                <li><a href = "">$100 to $200</a></li>
                <li><a href = "">$200 & Above</a></li>
            </ul>
            <ul class = "Department">
                <h5>Department</h5>
                <li><a href = "">Gift Cards</a></li>
                <li><a href = "">Gift Card Holders</a></li>
            </ul>
            <ul class = "New Arrivals">
                <h5>New Arrivals</h5>
                <li><a href = "">Last 30 Days</a></li>
                <li><a href = "">Last 90 Days</a></li>
            </ul>
            <ul>
                <h3>International Shipping</h3>
                <li><input type = "checkbox">International Shipping Eligible</li>
            </ul>
        </div> 
    </div>
    <div class = "Gift_content">
        <div class = "center_content_wrap wrap">
            <div class = "center_content">
                <h1>Gift Cards</h1>
                <div>Buy gift cards for all occasions from a range of brands including <a href = "#">Amazon</a>, <a href = "#">Apple</a>, <a href = "#">Google Play</a>, and <a href = "#">Visa</a>—or add to your Gift Card Balance with <a href = "#">Amazon Reload</a>.</div>
                <ul class = "content1">
                    <li><img src = "/sub/egift.jpg"></li>
                    <li><img src = "/sub/printatHome.jpg"></li>
                    <li><img src = "/sub/Mail.jpg"></li>
                </ul>
                <ul class = "content2">
                    <li><img src = "/sub/gift2.jpg"></li>
                </ul>
                <ul class = "content3">
                   <h3>shop by occasion</h3>
                   <li><img src = "/sub/o1.jpg"></li>
                   <li><img src = "/sub/o2.jpg"></li>
                   <li><img src = "/sub/o3.jpg"></li>
                   <li><img src = "/sub/o4.jpg"></li>
                   <li><img src = "/sub/o1.jpg"></li>
                   <li><img src = "/sub/o2.jpg"></li>
                   <li><img src = "/sub/o3.jpg"></li>
                   <li><img src = "/sub/o4.jpg"></li>
                </ul>
            </div>
        </div>
        <div class = "roll_content">
            <div>
                <h2>New and noteworthy in Gift Cards</h2>
                <ul>
                    <li><img src = "/sub/f1.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f2.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f3.jpg"></li>
                    <li> Amazon.com Gift Card in<br/> Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f4.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f5.jpg"></li>
                    <li> Amazon.com Gift Card in Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f1.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f2.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f3.jpg"></li>
                    <li> Amazon.com Gift Card in<br/> Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f4.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f5.jpg"></li>
                    <li> Amazon.com Gift Card in Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
            </div>
            <div>
                <h2>Best sellers in Gift Cards</h2>
                <ul>
                    <li><img src = "/sub/f8.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f9.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f10.jpg"></li>
                    <li> Amazon.com Gift Card in<br/> Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f11.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f12.jpg"></li>
                    <li> Amazon.com Gift Card in Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f13.jpg"></li>
                    <li> Amazon.com Gift Card in<br/> Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f14.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f9.jpg"></li>
                    <li> Amazon.com Gift Card in Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f9.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f10.jpg"></li>
                    <li> Amazon.com Gift Card in<br/> Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f11.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f12.jpg"></li>
                    <li> Amazon.com Gift Card in Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
            </div>
            <div>
                <h2>Movers & Shakers in Gift Cardss</h2>
                <ul>
                    <li><img src = "/sub/f20.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f19.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f18.jpg"></li>
                    <li> Amazon.com Gift Card in<br/> Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f17.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f16.jpg"></li>
                    <li> Amazon.com Gift Card in Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f15.jpg"></li>
                    <li> Amazon.com Gift Card in<br/> Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f19.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f18.jpg"></li>
                    <li> Amazon.com Gift Card in<br/> Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
                <ul>
                    <li><img src = "/sub/f17.jpg"></li>
                    <li> Amazon.com Gift Card in<br/>  Various Gift Boxes</li>
                    <li class = "grey">Amazon</li>
                    <li class = "price">$25</li>
                    <li><img src = "/sub/product.png">(58,607)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class = "f">
        Gift Cards
Amazon.com Gift Cards can only be used to purchase eligible goods and services on Amazon.com and certain related sites as provided in the Amazon.com Gift Card Terms and Conditions. To purchase a gift card for Amazon's website in another country, please visit: Amazon.ca, Amazon.cn, Amazon.fr, Amazon.de, Amazon.in, Amazon.it, Amazon.jp, Amazon.uk, or Amazon.es.

Finding the perfect gift for someone isn’t always easy. Amazon.com has an incredible selection of products, but sometimes you just can’t find the right gift for that special someone. Whether it’s a birthday present, holiday gift, employee reward, a gift to celebrate a special occasion, or a simple gesture of appreciation, a Gift Card is the perfect present.

Amazon.com Gift Cards are redeemable toward millions of items at Amazon.com, have no fees, and never, ever expire. Amazon.com Gift Cards can be purchased in almost any amount, from $0.50 to $2,000. Your recipient can spend their gift card right away or deposit it into their Amazon account and wait for that sale of a lifetime. Any gift card balance left over will stay in their account for future use.

Did you know Amazon.com also offers gift cards to many popular restaurants, spas, and stores? Here are just a few of the brands that you can now buy gift cards for: Starbucks, Nordstrom, GAP, JCPenney, GameStop, Kohl's, Whole Foods, Forever 21, AMC, SUBWAY, Sephora, Applebee's, Texas Roadhouse, Cracker Barrel, Chili's, Buffalo Wild Wings, Red Robin, Regal Entertainment, Sports Authority, and many more! With so many gift cards to choose from it's hard to pick just one. Plus, many of these gift cards ship for free and are eligible for Amazon Prime shipping.

Gift cards or gift certificates used to be considered an impersonal, "I didn’t know what to get you" gift ...no longer. Gift cards can be sent with a personal message. We have hundreds of designs for every occasion: birthday presents, christmas presents, thank you gifts, wedding or housewarming gifts, gift cards to say happy anniversary or happy Valentine’s Day, baby shower gifts, retirement gifts, graduation presents, gift cards to give Mom or Dad for Mother’s Day or Father’s Day presents, and of course a variety of gift card designs for the holidays.

No matter which gift card you choose, they’ll be getting the perfect present. Amazon.com has a gift card for everyone, and for any occasion.
    </div>
</body>
</html>