<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "/css/sub/registry.css">
</head>
<body>
    <ul class = "left">
        <div class = "left"><img src = "/sub/clogo.png"></div>
        <li>Wedding Registry</li>
        <li>Baby Registry</li>
        <li>Birthday Gift List</li>
        <li>Custom Gift List</li>
        <li>Help</li>
    </ul>

    <h2>Registry & Gifting</h2>
    <h3>Whether you’re celebrating a wedding, a baby, a birthday, or other memorable milestone,<br/>
        our registries and gift lists will help you and your guests find the perfect gifts.</h3>
    <div class = "grey">
        <h3>Find a registry or gift list</h3>
        <h4>Registrant name</h4>
        <input type = "text" value = "Search by Registrant name" class = "text">
        <select name = "sort" class = "sort">
            <option value="featuered">Wedding Registry</option>
            <option value="price">Baby Registry</option>
            <option value="price">Birthday Gift List</option>
            <option value="discount">Custom Gift Lis</option>
        </select>
        <input type = "button" value = "search" class = "search">  
    </div>
        <div class = "images_wrap">
            <ul class = "images">
                <li><img src = "/sub/r1.jpg">
                    Wedding Registry</li>
                <li><img src = "/sub/r2.jpg">
                    Baby Registry</li>
                <li><img src = "/sub/r3.jpg">
                    Birthday gift Registry</li>
                <li><img src = "/sub/r4.jpg">
                    Custom gift Registry</li>
            </ul>            
        </div>
</body>
</html>