<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/css/sub/sell.css">
    <title>Document</title>
</head>
<body>
    <div class = "header_wrap wrap">
        <div class = "header">
            <div class = "hl">
                Sell on Amazon
            </div>
            <div class = "hr">
                <button class = "button button1">sign up</button>
            </div>
        </div>
    </div>
    <div class = "content_wrap wrap">
        <div class = "content1">
            <div class = "content1_text">
                <h1>Become an <br/> Amazon seller</h1>
                <div>More than half the units sold in our stores are from<br/>
                independent sellers.</div>
                <button class = "button button2">sign up</button>
                <div class = "small">$39.99 a month + selling fees</div>
            </div>
            <div class = "content1_img">
                <img src = "/sub/background.png">
            </div>
        </div>
        <div class = "content2">
            <ul>
                <li><img src = "/sub/icon1.svg"></li> 
                <h2>Sell more</h2>
                <div>Fresh new startups and Fortune 500s. <br/>B2B and B2C. Brand owners and resellers. <br/> Independent third-party sellers sold  <br/>more than a billion items during the  <br/>2019 holiday season alone.</div>
                    <a href = "#">How to get started</a>
            </ul>
            <ul>
                <li><img src = "/sub/icon2.svg"></li> 
                <h2>Scale with FBA</h2>
                <div>Leave the shipping, returns, and <br/>customer service to us with Fulfillment<br/> by Amazon (FBA). It’s the easiest way to <br/>reach 150 million paid Prime members<br/> around the world.</div>
                <a href = "#">What is FBA?</a>
            </ul>
            <ul>
                <li><img src = "/sub/icon3.svg"></li> 
                <h2>Make money</h2>
                <div>In 2019, nearly 225,000 Amazon sellers<br/> worldwide eclipsed $100,000 in sales, up <br/>from nearly 200,000 in 2018—and <br/>15,000 U.S. businesses broke $1 million.</div>
                <a href = "#">Explore selling programs</a>
            </ul>
        </div>    
        <div class = "content3">
            <div class = "content3_img">
                <img src = "/sub/content3.jpg">
            </div>
            <div class = "content3_text">
                <h1>With all the infrastructure, systems, and<br/> processes Amazon built I realized that<br/> selling efficiency is no longer a problem.</h1>
                <div>
                   <img src = "/sub/content32.png"> 
                   <div>Steven Yang<br/>Anker Technology</div>
                </div>
            </div>
        </div>    
        <div class = "content4">
            <h3>LEARN MORE</h3>
            <ul>
                <li><a href = "#">Sell online: How to get started</a>
                </li>
                <li><a href = "#">The Beginner's Guide to Selling on Amazon</a>
                </li>
                <li><a href = "#">Grow your ecommerce business with Amazon</a>
                </li>
                <li><a href = "#">Build, grow, and protect your brand on Amazon</a>
                </li>
                <li><a href = "#">Build an online store featuring your brand</a>
                </li>
                <li><a href = "#">Watch free tutorial videos from Seller University</a>
                </li>
            </ul>
            <ul>
                <li><a href = "#">Get help from an Amazon account manager</a>
                </li>
                <li><a href = "#">How much does it cost to sell on Amazon?</a>
                </li>
                <li><a href = "#">Use FBA to scale your ecommerce business</a>
                </li>
                <li><a href = "#">Amazon Handmade, Amazon Business, and more</a>
                </li>
                <li><a href = "#">Advertise your products on Amazon</a>
                </li>
                <li><a href = "#">Case studies about Amazon third-party sellers</a>
                </li>
            </ul>
        </div>
        <div class = "content5">
            <div class = "content1_text">
                <h1>Start selling today</h1>
                <div>Put your products in front of more than 300 million<br/> customers worldwide</div>
                <button class = "button button2">sign up</button>
                <div class = "small">$39.99 a month + selling fees</div>
            </div>
            <div class = "content1_img">
                <img src = "/sub/content5.png">
            </div>
        </div>
    </div>
</body>
</html>