<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "/css/sub/Todays_Deals.css">
    <link rel = "stylesheet" href = "/css/main/main.css">
</head>
<body>
    {% include "./top.html" %}
    <div class = "contents_header">
        <h1>Deals and Promotions</h1>
        <p>Shop Today's Deals, Lightning Deals, and limited-time discounts</p>            
    </div>
    <div class = "contents">
        <div>
            <div class = "header_left">
                <h3>Showing 1-48 of 1000 results</h3>
            </div>
            <div class = "header_right">
                <div>sort by</div>
                <select name = "sort">
                    <option value="featuered">featuered</option>
                    <option value="price">Price-Low to High</option>
                    <option value="price">Price-High to Low</option>
                    <option value="discount">Discount-High to Low</option>
                </select>
            </div>
        </div>
        <div class = "product">
            <div class = "category">
                <ul class = "Department">
                    <h5>Department</h5>
                    <li><input type = "checkbox"><a href = "">Arts, Crafts & Sewing</a></li>
                    <li><input type = "checkbox"><a href = "">Automotive & Motorcycle</a></li>
                    <li><input type = "checkbox"><a href = "">Baby</a></li>
                    <li><input type = "checkbox"><a href = "">Baby Clothing & Accessories</a></li>
                    <li><input type = "checkbox"><a href = "">Beauty</a></li>
                    <li><input type = "checkbox"><a href = "">Books</a></li>
                    <li><input type = "checkbox"><a href = "">Boys’ Fashion</a></li>
                    <li><input type = "checkbox"><a href = "">Camera & Photo</a></li>
                    <li><input type = "checkbox"><a href = "">Cell Phones & Accessories</a></li>
                    <li><input type = "checkbox"><a href = "">Computers & Accessories</a></li>
                    <li><input type = "checkbox"><a href = "">Costumes & Accessories</a></li>
                    <li><input type = "checkbox"><a href = "">Electronics</a></li>
                </ul>
                <ul class = "Deal_Type">
                    <h5>Deal Type</h5>
                    <li><a href = "">Deal of the Day</a></li>
                    <li><a href = "">Lightning Deals</a></li>
                    <li><a href = "">Savings & Sales</a></li>
                    <li><a href = "">Prime Early Access Deals</a></li>
                </ul>
                <ul class = "Availability">
                    <h5>Availability</h5>
                    <li><a href = "#">Clear</a></li>
                    <li><input type = "checkbox" checked>Active</li>
                    <li><input type = "checkbox" checked>Upcoming</li>
                    <li><input type = "checkbox" checked>Missed</li>
                </ul>
                <ul class = "Price">
                    <h5>Price</h5>
                    <li><a href = "">Under $25</a></li>
                    <li><a href = "">$25 to $50</a></li>
                    <li><a href = "">$50 to $100</a></li>
                    <li><a href = "">$100 to $200</a></li>
                    <li><a href = "">$200 & Above</a></li>
                </ul>
                <ul class = "Discount">
                    <h5>Discount</h5>
                    <li><a href = "">10% Off or More</a></li>
                    <li><a href = "">25% Off or More</a></li>
                    <li><a href = "">50% Off or More</a></li>
                    <li><a href = "">70% Off or More</a></li>
                </ul>
                <ul class = "Avg. Customer Review">
                    <h5>Avg. Customer Review</h5>
                    <li><img src="/sub/product.png"><a href = ""> & Up</a></li>
                    <li><img src="/sub/product.png"><a href = ""> & Up</a></li>
                    <li><img src="/sub/product.png"><a href = ""> & Up</a></li>
                    <li><img src="/sub/product.png"><a href = ""> & Up</a></li>
                </ul>
            </div>
            <div class = "product_list"> 
                {% for item in result %}
                <div>
                    <ul>
                        <li class = "img">
                            <img src = "{{item.product_image}}">
                        </li>
                        <li class = "boxo">deals of the day</li>
                        <a href = "/sub/product?productName={{item.product_name}}"><li class = "price">{{item.product_name}}</li></a>
                        <li class = "red">{{item.price}}$</li>
                        <li class = "info">{{item.info}}
                            Save on Dash Rapid Egg Cooker: 6 Egg<br/> Capacity Electric Egg Cooker <br/>for Hard Boiled Eggs, Poached<br/> Eg...
                        </li>
                        <li><img src = "/sub/product.png"></li>
                        <li class = "button"><a href = "#">See details</a></li>               
                    </ul>                   
                </div>
                {% endfor %}  
            </div>
        </div>
    </div>
    {% include "./footer.html" %}
</body>
</html>