
.wrap{
    width:100%;
}

.buy{
    width:1400px;
    margin:0 auto;
}

.buy_info, .buy_price, .address, .pay, .product_info>div{
    display: inline-block;
    float:left;
}
.top{
    margin-top: 40px;
    display: inline-block;
    margin-left: 40px;
}
.top2{
    margin-top: 50px;
}
.pimg, .pimg>img{
    width:80px;
    height:80px;
}
.user_info{
    height:300px;
    width:700px;
}
.div4{
    margin-top: 110px;
}
.product_info{
    box-sizing: border-box;
    margin-top:30px;
    padding:30px;
    height: 550px;
}
.user_info, .product_info, .buy_price>div{
    border:1px solid grey;
}
.div3{
    height:300px;
    margin-bottom: 30px;
}

.div2{
    width:400px;
}

.product_info{
    clear: both;
  
}
.product_info>div{
    width:300px;
}

.div{
    margin-top: 35px;
    margin-right: 60px;
}
.product_info>div{
    margin-right: 10px;
}
.product_info>div>div{
    margin-left: 7px;
    margin-top: 7px;
}
.buy_price{
    line-height: 25px;
    text-align: center;
    margin-left: 80px;
}
.black{
    color:black;
    font-weight: bold;
    font-size: 20px;
}
.red{
    color:red;
    font-size: 20px;
}
.width{
    width:240px;
    height:40px;
}