.menu>li{
    display: inline-block;
}
ul,li{
    list-style: none;

}

a{
    text-decoration: none;
    color:blue;
}

.menu>li{
    margin-left: 20px;
}

.category, .twowrap{
    display: inline-block;
    float: left;
}

.center_content_wrap{
    width:80vw;
}
.center_content{
    text-align: center;
    width:1200px;
    margin:0 auto;
}
.f{
    clear: both;
}

.content1>li, .content1>li>img{
    display: inline-block;
    float:left;
    width:370px;
    height:370px;
}
.content1{
    height:300px;
}
.content2{
    height:300px;
}
.content2>li, .content2>li>img{
    width:1110px;
    height:100px;
    margin-top: 20px;
}

.content3{
    height:700px;
}
.content3>h3{
    font-size: 30px;
}
.content3>li, .content3>li>img{
    display: inline-block;
    width:260px;
    height:250px;

}



.roll_content{
    clear: both;

}
.roll_content>div{
    width:80vw;
    height:800px;
}
.roll_content>div>ul{
    display: inline-block;
}