*{
    margin:0;
    padding:3px;

}

ul,li{
   list-style: none;
}
.contents{
    height:3000px;
}
a{
    text-decoration: none;
}
.header_left, .header_right{
    display:inline-block;
    margin-top:20px;
    
}
.header_right{
    float:right;
}
.header_right>div{
    display: inline-block;
}

.category{
    background:#f5f5f5;
}
.product>div{
    display: inline-block;
    float: left;
}

.product_list{
    margin-left: 100px;
    width:80vw;
}

.product_list>div{
    width:18vw;
    display: inline-block;
}

.product_list>div>ul{
    margin: 0 auto;
    width:300px;
    margin-bottom: 40px;
}

.product_list>ul>li.button{
    margin-top: 70px;
    border:gray 1px solid;
    text-align: center;
    background: #f0c14b; 
    color:white;
    width:200px;
}

.price{
    color:black;
    font-size: 20px;
}
.red{
    color:red;
    font-size: 20px;
}
.info{
    line-height: 25px;
    color:blue;
}
.img>img, .img{
    width:200px;
    height:250px;
}


.boxo{
    background: chocolate;
    width:150px;
    height:20px;
    font-weight: bold;
    color:white;
}