*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    text-decoration-line: none;
    color:skyblue;
}
.container{
    width:348px;
    height: auto;
    margin: 14px auto 30px auto;
}

.user_mainimg > img{
    margin: 0 auto;
    display: block;
    width : 103px;
    height: 31px;
}

.account_boarder{
    width:348px;
    height: auto;
    border: 1px solid #999;
    padding: 14px 18px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 10px auto 0 auto;
}

#account_text{
    width:312px;
    height: 36px;
    font-size: 12px;
    margin-top: 18px;
}

#account_already{
    width:312px;
    height: 36px;
    font-size: 12px;
    margin-top: 50px;
}








#submit_btn{
    width: 310px;
    height: 31px;
    padding: 1px 0;
    background:linear-gradient(to bottom, #f7dfa5, #f0c14b);
    box-sizing: border-box;
    border: 1px solid #999;
}

#login_footer{
    width: auto;
    height: 454px;
    background-color: rgba(100, 100, 100, 0.1); /* red with opacity */
}


#footer_container{
    width: 700px;
    height: 300px;
    margin: 0 auto;
}

#login_footer_container{
    width: 384px;
    height: auto;
    margin: 0 auto;
    padding-left: 25px;
}

.login_footer_href{
    float: left;
    font-size: 12px;
    padding: 20px 20px;
    box-sizing: border-box;
}

#login_footer_year{
    width: 500px;
    height: 30px;
    font-size: 8px;
    padding-left: 230px;
}