<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/main/main.css">
</head>

<body>
  <div id="wrap">
    <!-- header start -->
    <div id="header">
      <div id="header_top">
        <a class="a_left" href="/"><img id="logo" src="../../imige/화면 캡처 2021-05-13 135836.png"></a>
        <a class="a_left" href="#">위치</a>
        <form action="/sub" method="post" id="search">
          <select>
            <option>All</option>
            <option>Audivle Books&Originals</option>
            <option>sbu</option>
            <option>Alexa Skills</option>
            <option>Amazon Pharmacy</option>
            <option>Amazon Warehouse</option>
            <option>Appliances</option>
            <option>Apps&Games</option>
            <option>Arts,Crafrs&Sewing</option>
            <option>Automotive Parts&accessoties</option>
            <option>Baby</option>
            <option>Beauty&Personal Care</option>
            <option>Books</option>
          </select>
          <input type="text">
          <input type="submit" value="go">
        </form>
        <span>국가</span>
        <span>
          <span>Hello,Sign in</span>
          <p>Account</p>
        </span>
        <a class="a_left" href="#">
          <span>Retuns</span>
          <p>& Orders</p>
        </a>
        <a class="a_right" href="#"><img src="../../imige/busket.png"></a>
      </div>
      <div id="header_bottum">
        <a href="#">All</a>
        <a href="#">Today's Deals</a>
        <a href="#">Customer Sevice</a>
        <a href="#">Gift Cards</a>
        <a href="#">Registry</a>
        <a href="#">Sell</a>
        <a href="#">Amazon's response to covid-19</a>
      </div>
      <!-- header end -->
      <!-- one_line start -->
      <div id="one_line">
        <div id="one_line_top">
          <img
            src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/journeys/MDkzY2E0NmMt/MDkzY2E0NmMt-MWEzMWY1ZWUt-w1500._CB669611386_.jpg">
        </div>
        <div id="one_line_content_middle">
          <div>
            <h2>Find your ideal TV</h2>
            <img src="">
            <a href="#">see more</a>
          </div>
          <div>
            <h2>Computers & Accessories</h2>
            <img src="">
            <a href="#">shop now</a>
          </div>
          <div>
            <h2>Beauty picks</h2>
            <img src="">
            <a href="#">shop now</a>
          </div>
          <div>
            <div>
              <h2></h2>
              <a href="#"></a>
            </div>
            <div>
              <img src="">
            </div>
          </div>

        </div>
        <div id="one_line_content_bottum">
          <div>
            <h2>Shop top categorles</h2>
            <img src="">
            <a href="#">shop now</a>
          </div>
          <div>
            <h2>Shop by Category</h2>
            <img src="">
            <a href="#">shop now</a>
          </div>
          <div>
            <h2>Get fit at home</h2>
            <img src="">
            <a href="#">shop now</a>
          </div>
          <div>
            <h2>AmazonBasics</h2>
            <img src="">
            <a href="#">shop now</a>
          </div>
        </div>
      </div>
      <!-- one_line end -->
      <!-- tow_line start -->
      <div id="tow_line" class="line">
        <h2>Related to items you've viewed</h2>
        <a href="#">see more</a>
        <ul>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
        </ul>
      </div>
      <!-- tow_line two -->
      <!-- three_line start -->
      <div id="three_line" class="line">
        <h2>Inspired by your shopping trends in Home,Garden & Tools</h2>
        <a href="#"></a>
        <ul>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
        </ul>
      </div>
      <!-- three_line end -->
      <!-- four_line start -->
      <div id="four_line" class="line">
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two">
          <a href="#">see more</a>
        </div>
      </div>
      <!-- four_line end -->
      <!-- five_line start -->
      <div id="five_line" class="line">
        <h2>Recommended for you from our brands</h2>
        <ul>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
        </ul>
      </div>
      <!-- five_line end -->
      <!-- six_line start -->
      <div id="six_line" class="line">
        <h2>Shop livestreams</h2>
        <a href="#"> see more from Amazon Live</a>
        <div>
          <div id="six_line_movie">영상</div>
          <ul>
            <li><img class="style_one"></li>
            <li><img class="style_one"></li>
            <li><img class="style_one"></li>
            <li><img class="style_one"></li>
            <li><img class="style_one"></li>
          </ul>
        </div>
      </div>
      <!-- six_line end -->
      <!-- seven_line start -->
      <div id="seven_line" class="line">
        <h2>4+ star gifts for any occarion</h2>
        <a href="#">shop all</a>
        <ul>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
        </ul>
      </div>
      <!-- seven_line end -->
      <!-- eighth_line start -->
      <div id="eighth_line" class="line">
        <a href="#"><img id="eighth_line_img" src="../../imige/advertise.png"></a>
      </div>
       <!-- eighth_line end -->
        <!-- nine_line start -->
      <div id="nine_line" class="line">
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two">
          <a href="#">see more</a>
        </div>
      </div>
     <!-- nine_line end -->
      <!-- ten_line start -->
      <div id="ten_line" class="line">
        <h2>Most wished for in Video Games</h2>
        <ul>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
        </ul>
      </div>
      <!-- ten_line end -->
      <!-- tweleve_line end -->
      <div id="eleven_line" class="line">
        <h2>Explore eberday essentials</h2>
        <ul>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
        </ul>
      </div>
      <div id="tweleve_line" class="line">
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two">
          <a href="#">see more</a>
        </div>
      </div>
      <!-- tweleve_line end -->
      <!-- thirteenth_line start -->
      <div id="thirteenth_line" class="line">
        <h2>Trending styles with 4+ stars</h2>
        <a href="#">shop all</a>
        <ul>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
        </ul>
      </div>
      <!-- thirteenth_line end -->
      <!-- fourteen_line start -->
      <div id="fourteen_line" class="line">
        <h2>Related to items you viewed</h2>
        <ul>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
          <li><img class="style_one"></li>
        </ul>
      </div>
      <!-- fourteen_line end -->
      <!-- footer start -->
      <div id="footer">
        <div id="footer_top">
          <a href="#"> <span>Back to top</span></a>
          <div>
            <ul>
              <li><a href="#"> Get to Know Us</a></li>
              <li><a href="#"> Careers</a></li>
              <li><a href="#"> Blog</a></li>
              <li><a href="#"> About Amazon</a></li>
              <li><a href="#"> Investor Telations</a></li>
              <li><a href="#"> Amazon Dabices</a></li>
              <li><a href="#"> Amazon Tours</a></li>
            </ul>
             <ul>
              <li><a href="#"> Get to Know Us</a></li>
              <li><a href="#"> Careers</a></li>
              <li><a href="#"> Blog</a></li>
              <li><a href="#"> About Amazon</a></li>
              <li><a href="#"> Investor Telations</a></li>
              <li><a href="#"> Amazon Dabices</a></li>
              <li><a href="#"> Amazon Tours</a></li>
            </ul>
            <ul>
              <li><a href="#"> Get to Know Us</a></li>
              <li><a href="#"> Careers</a></li>
              <li><a href="#"> Blog</a></li>
              <li><a href="#"> About Amazon</a></li>
              <li><a href="#"> Investor Telations</a></li>
              <li><a href="#"> Amazon Dabices</a></li>
              <li><a href="#"> Amazon Tours</a></li>
            </ul>
             <ul>
              <li><a href="#"> Get to Know Us</a></li>
              <li><a href="#"> Careers</a></li>
              <li><a href="#"> Blog</a></li>
              <li><a href="#"> About Amazon</a></li>
              <li><a href="#"> Investor Telations</a></li>
              <li><a href="#"> Amazon Dabices</a></li>
              <li><a href="#"> Amazon Tours</a></li>
            </ul>
          </div>
          <div>
            <div>
              <img src="">
              <a href="#">English</a>
              <a href="#">$ USD-U.S.Dollar</a>
              <a href="#">Unites States</a>
            </div>
          </div>
        </div>
        <div id="footer_bottum">
          <div>
            
              <ul>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
                <li>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                  <a href="#">Amazon Music</a>
                </li>
              </ul>
            
          </div>
          <div>
            <a href="#">Conditions of Use</a>
            <a href="#">Privacy Notice</a>
            <a href="#">Interest-Based Ads</a>
            <span>ⓒ 1996-2021,Amazon.com,Inc, or its affiliates</span>
          </div>
        </div>
      </div>
    </div>

</body>

</html>