<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main/main.css">
  <script type="text/javascript" src="/javascript/main/main.js"></script>
</head>

<body>
  <div id="wrap">
    <!-- header start -->
    <div id="header">
      <div id="header_top">
        <a class="a_left" href="/"><img id="logo" src="/main/logo.png"></a>
        <a class="a_left" href="#"><img id="state" src="/main/state.png"></a>
        <form action="/sub" method="post" id="search">
          <select>
            <option>All</option>
            <option>Audivle Books&Originals</option>
            <option>sbu</option>
            <option>Alexa Skills</option>
            <option>Amazon Pharmacy</option>
            <option>Amazon Warehouse</option>
            <option>Appliances</option>
            <option>Apps&Games</option>
            <option>Arts,Crafrs&Sewing</option>
            <option>Automotive Parts&accessoties</option>
            <option>Baby</option>
            <option>Beauty&Personal Care</option>
            <option>Books</option>
          </select>
          <input type="text" class = "v">
          <input type="submit" value="go" >
        </form>
        <span>국가</span>
        <span>
          <span class="color_white">Hello,Sign in</span>
          <p class="color_white">Account & lists▼</p>
        </span>
        <a class="a_left" href="#">
          <span class="color_white">Retuns</span>
          <p class="color_white">& Orders</p>
        </a>
        <a class="a_right" href="#"><img src="/main/busket.png"></a>
      </div>
      <div id="header_bottum">
        <a href="#">
          <div id="make_icon">
            <span class="top1"></span>
            <span class="top1"></span>
            <span class="top1"></span>
          </div>
          <span>All</span>
        </a>
        <a href="/sub/todaysdeal">Today's Deals</a>
        <a href="/sub/customerservice">Customer Sevice</a>
        <a href="/sub/giftcards">Gift Cards</a>
        <a href="/sub/registry">Registry</a>
        <a href="/sub/sell">Sell</a>
        <a class="a_right" href="#">Amazon's response to covid-19</a>
      </div>
      <!-- header end -->
      <!-- one_line start -->
      <div id="one_line">
        <div id="one_line_top">
          <div id="left">〈</div>
          <div id="right">〉</div>
          <img
            src="https://images-na.ssl-images-amazon.com/images/G/01/kindle/journeys/MDkzY2E0NmMt/MDkzY2E0NmMt-MWEzMWY1ZWUt-w1500._CB669611386_.jpg">
          <img
            src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_45M_v2_1x._CB432458380_.jpg">
          <img
            src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_Computers_1x._CB432469755_.jpg">
          <img
            src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_Beauty_v2_en_US_1x._CB429089975_.jpg">
          <img
            src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Hero/Fuji_TallHero_Toys_en_US_1x._CB431858161_.jpg">

        </div>
        <div id="one_line_content_middle">
          <div>
            <h2>Find your ideal TV</h2>
            <img src="https://m.media-amazon.com/images/I/41SCRAtGUkL._AC_SY200_.jpg">
            <a href="#">see more</a>
          </div>
          <div>
            <h2>Computers & Accessories</h2>
            <img src="https://m.media-amazon.com/images/I/31I+xrzXP1L._AC_SY240_.jpg">
            <a href="#">shop now</a>
          </div>
          <div>
            <h2>Beauty picks</h2>
            <img src="https://m.media-amazon.com/images/I/415ZO0d1vnL._AC_SY200_.jpg">
            <a href="#">shop now</a>
          </div>
          <div>
            <div>
              <h2>Sign in for the best experience</h2>
              <a href="#" id="one_middle_a">Sign in securely</a>
            </div>
            <div>
              <img src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/October/Fuji_D2_45M_en_US_1x._CB418309979_.jpg">
            </div>
          </div>

        </div>
        <div id="one_line_content_bottum">
          <div>
            <h2>Shop top categorles</h2>
            <img
              src="https://images-na.ssl-images-amazon.com/images/G/01/AMAZON_FASHION/2021/journeys/Y2E4YjY3ZjIt/Y2E4YjY3ZjIt-ZjI3MTBlYjEt-w379._SY304_CB670221726_.jpg">
            <a href="#">shop now</a>
          </div>
          <div>
            <h2>Shop by Category</h2>
            <img src="https://m.media-amazon.com/images/I/417kf2GJBuL._AC_SY200_.jpg">
            <a href="#">shop now</a>
          </div>
          <div>
            <h2>Get fit at home</h2>
            <img
              src="https://images-na.ssl-images-amazon.com/images/G/01/PLF/AmazonEssentials/2021/SPRING/Gateway/Category_Card/AE_NEWARRIVALS_GW_CAT-CARD_DESKTOP_379X304_1X._SY304_CB657594974_.jpg">
            <a href="#">shop now</a>
          </div>
          <div>
            <h2>AmazonBasics</h2>
            <img
              src="https://images-na.ssl-images-amazon.com/images/G/01/img18/home/journeys/ODA1YjA1MTMt/ODA1YjA1MTMt-NTNiNjE0MjUt-w379._SY304_CB670669178_.jpg">
            <a href="#">shop now</a>
          </div>
        </div>
      </div>
      <!-- one_line end -->
      <!-- tow_line start -->
      <div id="tow_line" class="line">
        <h2>Related to items you've viewed</h2>
        <a href="#">see more</a>
        <ul>
        <li><img class="style_one" src="{{result[0].product_image}}"></li>
        <li><img class="style_one" src="{{result[0].product_image}}"></li>
        <li><img class="style_one" src="{{result[0].product_image}}"></li>
        <li><img class="style_one" src="{{result[0].product_image}}"></li>
        <li><img class="style_one" src="{{result[0].product_image}}"></li>
        </ul>
      </div>
      <!-- tow_line two -->
      <!-- three_line start -->
      <div id="three_line" class="line">
        <h2>Inspired by your shopping trends in Home,Garden & Tools</h2>
        <a href="#"></a>
        <ul>
          <li><img class="style_one" src="/sub/product2.jpg"></li>
          <li><img class="style_one" src="/sub/product2.jpg"></li>
          <li><img class="style_one" src="/sub/product2.jpg"></li>
          <li><img class="style_one" src="/sub/product2.jpg"></li>
          <li><img class="style_one" src="/sub/product2.jpg"></li>
        </ul>
      </div>
      <!-- three_line end -->
      <!-- four_line start -->
      <div id="four_line" class="line">
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_Laptops_379x304_1X_en_US._SY304_CB418608471_.jpg">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_HomeBedding_Single_Cat_1x._SY304_CB418596953_.jpg">
          <a href="#">see more</a>https
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_StripLighting_379x304_1X_en_US._SY304_CB418597476_.jpg">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_Laptops_379x304_1X_en_US._SY304_CB418608471_.jpg">
          <a href="#">see more</a>
        </div>
      </div>
      <!-- four_line end -->
      <!-- five_line start -->
      <div id="five_line" class="line">
        <h2>Recommended for you from our brands</h2>
        <ul>
          <li><img class="style_one" src="/sub/product3.jpg"></li>
          <li><img class="style_one" src="/sub/product3.jpg"></li>
          <li><img class="style_one" src="/sub/product3.jpg"></li>
          <li><img class="style_one" src="/sub/product3.jpg"></li>
          <li><img class="style_one" src="/sub/product3.jpg"></li>
        </ul>
      </div>
      <!-- five_line end -->
      <!-- six_line start -->
      <div id="six_line" class="line">
        <h2>Shop livestreams</h2>
        <a href="#"> see more from Amazon Live</a>
        <div>
          <div id="six_line_movie">영상</div>
          <ul>
            <li><img class="style_one" src="/sub/product3.jpg"></li>
            <li><img class="style_one" src="/sub/product3.jpg"></li>
            <li><img class="style_one" src="/sub/product3.jpg"></li>
            <li><img class="style_one" src="/sub/product3.jpg"></li>
            <li><img class="style_one" src="/sub/product3.jpg"></li>
          </ul>
        </div>
      </div>
      <!-- six_line end -->
      <!-- seven_line start -->
      <div id="seven_line" class="line">
        <h2>4+ star gifts for any occarion</h2>
        <a href="#">shop all</a>
        <ul>
          <li><img class="style_one" src="/sub/product4.jpg"></li>
          <li><img class="style_one" src="/sub/product4.jpg"></li>
          <li><img class="style_one" src="/sub/product4.jpg"></li>
          <li><img class="style_one" src="/sub/product4.jpg"></li>
          <li><img class="style_one" src="/sub/product4.jpg"></li>
        </ul>
      </div>
      <!-- seven_line end -->
      <!-- eighth_line start -->
      <div id="eighth_line" class="line">
        <a href="#"><img id="eighth_line_img" src="../../imige/advertise.png"></a>
      </div>
      <!-- eighth_line end -->
      <!-- nine_line start -->
      <div id="nine_line" class="line">
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_HomeBedding_Single_Cat_1x._SY304_CB418596953_.jpg">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_HomeBedding_Single_Cat_1x._SY304_CB418596953_.jpg">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_HomeBedding_Single_Cat_1x._SY304_CB418596953_.jpg">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_HomeBedding_Single_Cat_1x._SY304_CB418596953_.jpg">
          <a href="#">see more</a>
        </div>
      </div>
      <!-- nine_line end -->
      <!-- ten_line start -->
      <div id="ten_line" class="line">
        <h2>Most wished for in Video Games</h2>
        <ul>
          <li><img class="style_one" src="/sub/product5.jpg"></li>
          <li><img class="style_one" src="/sub/product5.jpg"></li>
          <li><img class="style_one" src="/sub/product5.jpg"></li>
          <li><img class="style_one" src="/sub/product5.jpg"></li>
          <li><img class="style_one" src="/sub/product5.jpg"></li>
        </ul>
      </div>
      <!-- ten_line end -->
      <!-- tweleve_line end -->
      <div id="eleven_line" class="line">
        <h2>Explore eberday essentials</h2>
        <ul>
          <li><img class="style_one" src="/sub/product1.jpg"></li>
          <li><img class="style_one" src="/sub/product1.jpg"></li>
          <li><img class="style_one" src="/sub/product1.jpg"></li>
          <li><img class="style_one" src="/sub/product1.jpg"></li>
          <li><img class="style_one" src="/sub/product1.jpg"></li>
        </ul>
      </div>
      <div id="tweleve_line" class="line">
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_StripLighting_379x304_1X_en_US._SY304_CB418597476_.jpg">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_StripLighting_379x304_1X_en_US._SY304_CB418597476_.jpg">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_StripLighting_379x304_1X_en_US._SY304_CB418597476_.jpg">
          <a href="#">see more</a>
        </div>
        <div class="style_box">
          <h2>comfy stykes for her</h2>
          <img class="style_two" src="https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2020/May/Dashboard/Fuji_Dash_StripLighting_379x304_1X_en_US._SY304_CB418597476_.jpg">
          <a href="#">see more</a>
        </div>
      </div>
      <!-- tweleve_line end -->
      <!-- thirteenth_line start -->
      <div id="thirteenth_line" class="line">
        <h2>Trending styles with 4+ stars</h2>
        <a href="#">shop all</a>
        <ul>
          <li><img class="style_one" src="/sub/product2.jpg"></li>
          <li><img class="style_one" src="/sub/product2.jpg"></li>
          <li><img class="style_one" src="/sub/product2.jpg"></li>
          <li><img class="style_one" src="/sub/product2.jpg"></li>
          <li><img class="style_one" src="/sub/product2.jpg"></li>
        </ul>
      </div>
      <!-- thirteenth_line end -->
      <!-- fourteen_line start -->
      <div id="fourteen_line" class="line">
        <h2>Related to items you viewed</h2>
        <ul>
          <li><img class="style_one" src="/sub/product3.jpg"></li>
          <li><img class="style_one" src="/sub/product3.jpg"></li>
          <li><img class="style_one" src="/sub/product3.jpg"></li>
          <li><img class="style_one" src="/sub/product3.jpg"></li>
          <li><img class="style_one" src="/sub/product3.jpg"></li>
        </ul>
      </div>
      <!-- fourteen_line end -->
      <!-- footer start -->
      <div id="footer">
        <div id="footer_top">
          <a href="#"> <span>Back to top</span></a>
          <div id="footer_top_top">
            <ul>
              <li><span> Get to Know Us </span></li>
              <li><a href="#"> Careers</a></li>
              <li><a href="#"> Blog</a></li>
              <li><a href="#"> About Amazon</a></li>
              <li><a href="#"> Investor Telations</a></li>
              <li><a href="#"> Amazon Dabices</a></li>
              <li><a href="#"> Amazon Tours</a></li>
            </ul>
            <ul>
              <li><span> Get to Know Us </span></li>
              <li><a href="#"> Careers</a></li>
              <li><a href="#"> Blog</a></li>
              <li><a href="#"> About Amazon</a></li>
              <li><a href="#"> Investor Telations</a></li>
              <li><a href="#"> Amazon Dabices</a></li>
              <li><a href="#"> Amazon Tours</a></li>
            </ul>
            <ul>
              <li><span> Get to Know Us </span></li>
              <li><a href="#"> Careers</a></li>
              <li><a href="#"> Blog</a></li>
              <li><a href="#"> About Amazon</a></li>
              <li><a href="#"> Investor Telations</a></li>
              <li><a href="#"> Amazon Dabices</a></li>
              <li><a href="#"> Amazon Tours</a></li>
            </ul>
            <ul>
              <li><span> Get to Know Us </span></li>
              <li><a href="#"> Careers</a></li>
              <li><a href="#"> Blog</a></li>
              <li><a href="#"> About Amazon</a></li>
              <li><a href="#"> Investor Telations</a></li>
              <li><a href="#"> Amazon Dabices</a></li>
              <li><a href="#"> Amazon Tours</a></li>
            </ul>
          </div>
          <div id="footer_top_bottum">
            <img src="">
            <a href="#">English</a>
            <a href="#">$ USD-U.S.Dollar</a>
            <a href="#">Unites States</a>
          </div>
        </div>
        <div id="footer_bottum">
          <div>
            <ul>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
            </ul>
            <ul>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
              <li>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
                <a href="#">Amazon Music</a>
              </li>
            </ul>

          </div>
          <div>
            <a href="#">Conditions of Use</a>
            <a href="#">Privacy Notice</a>
            <a href="#">Interest-Based Ads</a>
            <span>ⓒ 1996-2021,Amazon.com,Inc, or its affiliates</span>
          </div>
        </div>
      </div>
    </div>

</body>

</html>