*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000000;
}
ul,li{
    list-style: none;
}
.none{
    display: none;
}
body{
    background:#EAEDED;
}
#wrap{
    width: 100%;
    background:#EAEDED;
}
#header{
    width: 100%;
    height: 100px;
}
#header_top{
    width: 100%;
    height:60px;
    background:#0F1111;
    display: flex;
}
#logo{
    width: 160px;
    height: 60px;
    display: inline-block;
    float: left;
}
#state{
    width: 160px;
    height: 60px;
}
#top_right>span{
    display: inline-block;
    float: left;
    color: #ffffff;
}
#id{
    width: 200px;
    display: inline-block;
    color: #ffffff;
}
#login{
    width: 152px;
    display: flex;
    color: #ffffff;
}
#logout{
    height: 40px;
    border: 1px solid white;
    margin: 10px 0;
    color: #ffffff;
    display: inline-block;
    line-height: 40px;
}
#top_left{
    width: 320px;
    height: 60px;
    display: flex;
    float: left;
}
#search{
    height: 60px;
    display: flex;
    padding: 15px 0;
    box-sizing: border-box;
    position: static;
    flex: 1 1 auto;
}
#search>select{
    height: 30px;
    left: 10px;
}
#text{
    width: 100%;
    height: 26px;
}
#go{
    width: 50px;
    height: 30px;
    float: right;
}
#top_right{
    height: 60px;
    display: flex;

}
.a_right{
    display: inline-block;
   float: right;
}

#usa1{
    width: 60px;
    height: 60px;
    padding: 20px 10px 0;
    box-sizing: border-box;
}
#usa{
    width: 20px;
    height: 20px;
}
#hidden1{
    width: 240px;
    height: 240px;
    background: #ffffff;
    position: absolute;
    top: 50px;
    padding: 15px;
    box-sizing: border-box;
    z-index: 5;
}
#hidden1>input{
    display: block;
    height: 40px;
}
#hidden1>a{
    display: block;
    height: 40px;
}
#hidden1>span{
    color: #000000;
    height: 40px;
}
#hidden1>img{
    width: 20px;
    height: 20px;
}
#hidden2{
    width: 500px;
    height: 440px;
    position: absolute;
    background: #ffffff;
    padding: 14px;
    border: 1px solid #0F1111;
    right: 150px;
    z-index: 6;
    display: none;
}
#hidden2>ul{
    width: 45%;
    display: inline-block;
    float: left;
}
#hidden2>ul>li{
    margin: 10px 0 0 0;
}
#hidden2>ul>li>a{
    color: #000000;
}
.margin10{
    margin: 10px 5px;
}
.color_white{
    color: #ffffff;
}
#header_bottum{
    width: 100%;
    height: 40px;
    background: #232F3E;
}
#header_bottum>a{
    height: 30px;
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    margin: 5px 10px;
}
#make_icon{
    width: 18px;
    height: 12px;
    display: inline-block;
    position: relative;

}
#make_icon>span{
    width: 100%;
    height:2px;
    background: #ffffff;
    position: absolute;
    display:block;
    transition: all .35s;
}
#make_icon>span:nth-child(1){
    top: 0;
}
#make_icon>span:nth-child(2){
    top: 50%; 
    transform:translateY(-50%);
}
#make_icon>span:nth-child(3){
    bottom: 0;
}
/* header end */
/* same line start */
.line{
    width: 1500px;
    margin: 50px auto 0;
    background: #ffffff;
    overflow-x: scroll;
}
.line::-webkit-scrollbar{
    height: 15px;
    background-color: #ffffff;
}
.line::-webkit-scrollbar-thumb{
    background-color: grey;
    background-clip: padding-box;
    border-radius: 10px;
}
.line::-webkit-scrollbar-track{
    border-radius: 10px;
}
.line>h2{
    height: 30px;
    margin: 20px;
    display: inline-block;
}
.line>ul{
    width: 5000px;
    height: 220px;
 
}
.line>ul>li{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0 15px;
}
.line>ul>li>a>img{
    height: 200px;
}

/* same line end */


/* one_line start */
.one_line_left{
    animation: left 2s;
    animation-fill-mode: forwards;
}
@keyframes left{
    from{
        left: 0;
    }to{
        left: -1500px;
    }
}
.one_line_left2{
    animation: left2 2s;
    animation-fill-mode: forwards;
}
@keyframes left2{
    from{
        left: 1500px;
    }to{
        left: 0px;
    }
}

.one_line_right{
    animation: right 2s;
    animation-fill-mode: forwards;
}
@keyframes right{
    from{
        left: 0;
    }to{
        left: 1500px;
    }
}
.one_line_right2{
    animation: right2 2s;
    animation-fill-mode: forwards;
}
@keyframes right2{
    from{
        left: -1500px;
    }to{
        left: 0px;
    }
}
#one_line{
    width: 1500px;
    height: 1200px;
    margin: 0 auto;
}
#one_line_top{
    position: relative;
    z-index: 1;
    width: 1500px;
    height: 300px;
    overflow: hidden;
}
#one_line_top>a{
    position: absolute;
    left: 0;
    float: left;
}
#left{
    width: 70px;
    height: 300px;
    font-size: 50px;
    padding: 100px 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    position: absolute;
    z-index: 3;
}
#right{
    width: 70px;
    height: 300px;
    font-size: 50px;
    padding: 100px 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    position: absolute;
    right: 0;
    z-index: 3;
}
#one_line_content_middle{
    position: relative;
    z-index: 2;
    width: 1500px;
    height: 500px;
}
#one_line_content_middle>div{
    width: 300px;
    height: 400px;
    margin: 0 30px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    float: left;
}
#one_line_content_middle>div>a>img{
    width: 300px;
    height: 300px;
    margin: 10px 0;
}
#one_line_content_middle>div:nth-child(4)>div:nth-child(1){
    width: 370px;
    height: 140px;
    background: white;
    display: inline-block; 
    margin: 0 10px;  
}
#one_line_content_middle>div:nth-child(4)>div:nth-child(1)>h2{
    margin: 20px 0;
}
#one_middle_a{
    width: 350px;
    height: 30px;
    color: #000000;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    background: rgb(240, 240, 104);
    border: 1px solid #000000 ;
}
#one_line_content_middle>div:nth-child(4)>div:nth-child(2){
    width: 300px;
    height: 240px;
    background: yellow;
    display: inline-block; 
    margin: 20px 50px;    
}

#one_line_content_bottum{
    width: 1500px;
    height: 400px;
}

#one_line_content_bottum>div{
    width: 350px;
    height: 400px;
    margin: 0 15px 0 10px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    float: left;
}
#one_line_content_bottum>div>a>img{
    width: 330px;
    height: 300px;
    margin: 10px 0;
}

/* one_line end */

/* tow_line start */
.style_one{
    width: 200px;
    height: 200px;
}
/* tow_line end */
/* three_line start */
#three_line>ul>li>img{
    width: 200px;
    height: 200px;
}
/* three_line end */
/* four_line start */
.style_box{
    width: 350px;
    height: 350px;
    margin: 0 15px 0 10px;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    float: left;
}
.style_two{
    width: 330px;
    height: 250px;
    margin: 10px 0;
}
.style_box>h2{
    color: #000000;
}
/* four_line end */

/* six_line start */
#six_line_movie{
    width: 500px;
    height: 280px;
    background: cadetblue;
    display: inline-block;
    float: left;
    margin: 0 10px;
}
#six_line_movie>a>img{
    width: 500px;
    height: 280px;
}
#six_line>div>ul{
    width: 980px;
    height: 280px;
    overflow: hidden;
    display: inline-block;
}
#six_line>div>ul>li{
    width: 220px;
    height: 280px;
    margin: 0 10px;
    display: inline-block;
}
#six_img{
    width: 200px;
    height: 200px;
}
/* six_line end */
/* eighth_line start */
#eighth_line{
    width: 1000px ;
    height: 300px;
    margin: 50px auto;
}
#eighth_line>a{
    width: 1000px ;
    height: 300px;
}
#eighth_line_img{
    width: 1000px ;
    height: 300px;
}
/* eighth_line end */
/* nine_line start */
#nine_line>div{
    width: 350px;
    height: 400px;
    color: #ffffff;
    margin: 0 10px;
    display: inline-block;
}
/* nine_line end */

/* tweleve_line start */
#tweleve_line>div{
    width: 350px;
    height: 400px;
    color: #ffffff;
    margin: 0 10px;
    display: inline-block;
}
/* tweleve_line end */

/* footer start */
#footer{
    width: 100%;
    height: 800px;
}
#footer_top{
    width: 100%;
    height: 350px;
    background: #232F3E;
}
#footer_top>a:nth-child(1){
    width: 100%;
    height: 50px;
    display: inline-block;
    background-color: #007185;
}
#footer_top>a:nth-child(1)>span{
    width: 100px;
    height: 20px;
    color: white;
    font-weight: bold;
    margin: 10px auto;
    display:block;
}
#footer_top_top{
    width: 900px;
    height: 220px;
    margin: 20px auto;
}
#footer_top_top>ul{
    width: 200px;
    height: 220px;
    display: inline-block;
}
#footer_top_top>ul>li>span{
    color: #ffffff;
    font-weight: bold;
}
#footer_top_top>ul>li>a{
    color: #ffffff;
}
#footer_top_bottum{
    width: 600px;
    height: 50px;
    margin: 0 auto;
}
#footer_bottum{
    width: 100%;
    height: 440px;
    background: #131a22;
}
#footer_bottum>div:nth-child(1){
    width: 1200px;
    height: 400px;
    margin: 0 auto;
}
#footer_bottum>div:nth-child(1)>ul{
    width: 1200px;
    display: inline-block;
}
#footer_bottum>div:nth-child(1)>ul>li{
    width: 140px;
    margin: 10px;
    display: inline-block;
}
#footer_bottum>div:nth-child(1)>ul>li>a{
    display: block;
}
#footer_bottum>div:nth-child(1)>ul>li>a:nth-child(1){
    font-weight: bold;
    color: #ffffff;
}
#footer_bottum>div:nth-child(1)>ul>li>a:nth-child(2){
    color: beige;
}
#footer_bottum>div:nth-child(1)>ul>li>a:nth-child(3){
    color: beige;
}
#footer_bottum>div:nth-child(2){
    width: 800px;
    height: 30px;
    margin: 0 auto;
}
#footer_bottum>div:nth-child(2)>a{
    color: #ffffff;
}
#footer_bottum>div:nth-child(2)>span{
    color: #ffffff;
}

/* hiddenbar */
#popup{
    width:100%;
    height:100%;
    position:fixed;
    z-index: 10;
    top:0;
    display: none;
}

#popup::after{
    width:100%;
    height:100%;
    content: "";
    position: absolute;
    z-index: 11;
    top:0;
    background-color: black;
    opacity: 0.7;
}
#hidden_bar{
    width: 350px;
    height: 6500px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 12;
    background-color: #ffffff;
    animation: popup 1s;
    animation-fill-mode: forwards;
}
@keyframes popup{
    from{
        left:-350px;
    }to{
        left: 0;
    }
}
#name{
    display: inline-block;
}
.close{
    display: inline-block;
    float: right;
}
#hidden_bar>ul{
    padding: 10px 20px;
    box-sizing: border-box;
}
#hidden_bar>ul:nth-child(1){
    width: 350px;
    height: 50px;
    background: #232F3E;
}
.hiddem_ul>li>a>span:nth-child(2){
    display: inline-block;
    float: right;
}