*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}

#wrap{
    width: 100%;
    background:#EAEDED;
}
#header{
    width: 100%;
    height: 100px;
}
#header_top{
    width: 100%;
    height:60px;
    background:#0F1111;
}
#header_bottum{
    width: 100%;
    height: 40px;
    background: #232F3E;
}
/* header end */
/* same line start */
.line{
    width: 1500px;
    background: yellow;
    margin: 50px auto 0;
}
.line>h2{
    height: 30px;
    margin: 20px;
    display: inline-block;
}
.line>ul{
    width: 1500px;
    height: 200px;
    overflow: hidden;
}
.line>ul>li{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0 15px;
}
/* same line end */


/* one_line start */
#one_line{
    width: 1500px;
    height: 1200px;
    margin: 0 auto;
}
#one_line_top{
    position: relative;
    z-index: 1;
    width: 1500px;
    height: 300px;
}
#one_line_content_middle{
    position: relative;
    z-index: 2;
    width: 1500px;
    height: 500px;
}
#one_line_content_middle>div{
    width: 350px;
    height: 400px;
    background: brown;
    margin: 0 15px 0 10px;
    display: inline-block;
    float: left;
}
#one_line_content_middle>div:nth-child(4)>div:nth-child(1){
    width: 350px;
    height: 140px;
    background: white;
    display: inline-block;   
}
#one_line_content_middle>div:nth-child(4)>div:nth-child(2){
    width: 350px;
    height: 240px;
    background: yellow;
    display: inline-block;   
}

#one_line_content_bottum{
    width: 1500px;
    height: 400px;
    background: blue;
}
#one_line_content_bottum>div:nth-child(1){
    width: 720px;
    height: 400px;
    background: wheat;
    display: inline-block;
    margin: 0 15px 0 10px;
    float: left;
}
#one_line_content_bottum>div:nth-child(2){
    width: 350px;
    height: 400px;
    background: green;
    display: inline-block;
    margin: 0 15px 0 10px;
    float: left;
}
#one_line_content_bottum>div:nth-child(3){
    width: 350px;
    height: 400px;
    background: black;
    display: inline-block;
    margin: 0 15px 0 10px;
    float: left;
}
/* one_line end */

/* tow_line start */
/* #tow_line>h2{
    width: 400px;
    height: 70px;
    display: inline-block;
}
#tow_line>ul{
    width: 1500px;
    height: 200px;
    overflow: hidden;
}
#tow_line>ul>li{
    width: 200px;
    height: 200px;
    display: inline-block;
} */
/* tow_line end */
/* three_line start */
/* #three_line>h2{
    height: 70px;
    display: inline-block;
}
#three_line>ul{
    width: 1500px;
    height: 200px;
    overflow: hidden;
}
#three_line>ul>li{
    width: 200px;
    height: 200px;
    display: inline-block;
} */
/* three_line end */
/* four_line start */
#four_line>div{
    width: 350px;
    height: 400px;
    background: blueviolet;
    margin: 0 10px;
    display: inline-block;
}
/* four_line end */

/* six_line start */
#six_line_movie{
    width: 500px;
    height: 280px;
    background: cadetblue;
    display: inline-block;
    float: left;
    margin: 0 10px;
}
#six_line>div>ul{
    width: 980px;
    height: 280px;
    overflow: hidden;
    display: inline-block;
}
#six_line>div>ul>li{
    width: 220px;
    height: 280px;
    margin: 0 10px;
    display: inline-block;
    background: black;
}
/* six_line end */
/* eighth_line start */
#eighth_line{
    padding: 0 250px;
    box-sizing: border-box;
}
#eighth_line>a{
    width: 1000px ;
    height: 300px;
}
#eighth_line_img{
    width: 1000px ;
    height: 300px;
}
/* eighth_line end */
/* nine_line start */
#nine_line>div{
    width: 350px;
    height: 400px;
    background: blueviolet;
    margin: 0 10px;
    display: inline-block;
}
/* nine_line end */

/* tweleve_line start */
#tweleve_line>div{
    width: 350px;
    height: 400px;
    background: blueviolet;
    margin: 0 10px;
    display: inline-block;
}
/* tweleve_line end */

/* footer start */
#footer{
    width: 100%;
    height: 1200px;
}
#footer_top{
    width: 100%;
    height: 600px;
    background: #232F3E;
}
#footer_bottum{
    width: 100%;
    height: 600px;
    background: #131a22;
}